<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="shabi">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import shabi urdf file -->
    <xacro:include filename="$(find shabi)/urdf/shabi.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="shabi.ros2_control.xacro" />


    <xacro:shabi_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
